#quebracabeca{width:1040px; height:784px; overflow:hidden; position:relative; border:solid 1px #000; float:left;}
.pecas{width:128px; height:96px; overflow:hidden; float:left; border:solid 1px #333; position:relative; z-index:2;}
.pecas1{width:128px; height:96px; overflow:hidden; border:solid 1px #333; position:relative;}
